.navlink {
  position: relative;
  text-decoration: none;
  color: #cecece;
  scale: 1;
  transition: color 0.3s ease;
}

.navlink::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ebebeb;
  transition: width 0.5s ease;
}

.navlink:hover::before {
  width: 100%;
}

.navlink:hover {
  color: #ebebeb;
  scale: 1.1;
  transition: 0.5s ease-out;
  /* Change text color on hover */
}

.navlink-dark {
  position: relative;
  text-decoration: none;
  color: #333333;
  scale: 1;
  transition: color 0.3s ease;
}

.navlink-dark::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #050505;
  transition: width 0.5s ease;
}

.navlink-dark:hover::before {
  width: 100%;
}

.navlink-dark:hover {
  color: #050505;
  scale: 1.1;
  transition: 0.5s ease-out;
  /* Change text color on hover */
}


   /* Style for the character count display */
   .char-count {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    color: #555;
}
/* Style for the textarea */
.textarea-container {
    position: relative;
    width: 100%;
}
/* textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
} */



.front-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgb(255, 255, 255) 85%), radial-gradient(at 0% 0%, rgba(13, 110, 253, 0.5), rgba(0, 0, 0, 0) 50%), radial-gradient(at 100% 0%, rgba(255, 228, 132, 0.5), rgba(0, 0, 0, 0) 50%), radial-gradient(at 100% 50%, rgba(113, 44, 249, 0.5), rgba(0, 0, 0, 0) 50%), radial-gradient(at 0% 50%, rgba(214, 51, 132, 0.5), rgba(0, 0, 0, 0) 50%);
    width: 100%;
    height: 100vh;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}